body {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/dish-it.appspot.com/o/images%2Ffood-background.jpg?alt=media&token=e099d38a-f43b-4a4d-88ab-df229981417d);
}

.navbar {
    background-color: #588b8b !important;
}

.container {
    max-width: 720px;
}

.card-body, tr {
    background-color: #f7f4f3;
    padding: 0px 20px 0px 20px;
}

table {
    margin: 0px !important;
}

.dish-tile-img-box {
    display: block;
    overflow: hidden;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-position: center center;
}
.d-block{
    height: 120px;
    width: 120px;
    
}

.dish-tile-img {
    display: block;
    min-width: 100%;
    max-height: 100%;
    -ms-interpolation-mode: bicubic;
}

#no-results-view {
    background-color: #f7f4f3;
    padding-bottom: 20px;
}

#new-image-box {
    display: block;
    overflow: hidden;
    height: 250px;
    width: 350px;
    background-position: center center;
}

#new-image-view {
    display: block;
    min-height: 100%;
    max-width: 350px;
    -ms-interpolation-mode: bicubic;
}

.rating-icons {
    color: goldenrod;
}

span {
    box-shadow: none;
    display: inline-block;
}

.slider-row {
    margin-top: 15px;
}

/* NEW DISH PAGE */
.add-dish-form {
    background-color: #f7f4f3;
}

#yelp-logo-div {
    font-size: 10px;
    color: white;
}

#yelp-logo {
    height: 50px;
}

.restaurant-details {
    line-height: 10px;
}

#restaurant-results-view {
    background-color: white;
    overflow: hidden;
}

#loading-burger-gif {
    display: block;
    
}

input[type="file"] {
    display: none;
}

.custom-file-select {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
    display: inline-block;
    position: relative;
    top: 2px;
}

.custom-file-select:hover {
    background-color: #343a40;
    color: white;
}

.image-box {
    margin: auto;
}

.errorMessage{
    color: red;
}