body {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/dish-it.appspot.com/o/images%2Ffood-background.jpg?alt=media&token=e099d38a-f43b-4a4d-88ab-df229981417d);
}

.card-body, tr {
    background-color: ghostwhite;
    padding: 0px 20px 0px 20px;
}

table {
    margin: 0px !important;
}

.dish-tile-img {
    display: block;
    overflow: hidden;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-position: center center;
}

.dish-tile-img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    -ms-interpolation-moode: bicubic;

.rating-icons {
    color: goldenrod;
}

span {
    box-shadow: none;
    display: inline-block;
}

.slider-row {
    margin-top: 15px;
}

/* NEW DISH PAGE */
.add-dish-form {
    background-color: ghostwhite;
}

.image-box {
    margin: auto;
}