body {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/dish-it.appspot.com/o/images%2Ffood-background.jpg?alt=media&token=e099d38a-f43b-4a4d-88ab-df229981417d);
}

.card-body, tr {
    background-color: ghostwhite;
    padding: 0px 20px 0px 20px;
}

table {
    margin-top: 0px;
}

.dish-tile-img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

span {
    box-shadow: none;
    display: inline-block;
}

.slider-row {
    margin-top: 15px;
}